@model SHPUD.Models.DiseaseViewModel

<p><b>Disease Name</b></p><p>@Model.DISEASE_NAME</p>
<p><b>Symptoms</b></p><p>@Model.SYMPTOMS</p>
<p><b>Disease Description</b></p><p>@Model.DISEASE_Description</p>



    
        
