USE [master]
GO
/****** Object:  Database [SHPUD]    Script Date: 8/29/2018 12:18:59 PM ******/
CREATE DATABASE [SHPUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHPUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHPUD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHPUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SHPUD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHPUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHPUD]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[ADMIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL DEFAULT (getdate()),
	[ADMIN_NAME] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
	[CONTACT] [int] NULL,
	[EMAIL] [varchar](200) NULL,
	[ADMIN_IMAGE] [varchar](100) NULL,
	[WORK_HOSPITAL] [varchar](100) NULL,
	[GENDER] [varchar](10) NULL,
	[PASSWORD] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DISEASE]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DISEASE](
	[DISEASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL DEFAULT (getdate()),
	[DISEASE_NAME] [varchar](100) NOT NULL,
	[SYMPTOMS] [varchar](200) NULL,
	[CATEGORY] [varchar](200) NULL,
	[TREATMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DISEASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_DOCTOR]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_DOCTOR](
	[DOCTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL DEFAULT (getdate()),
	[DOCTOR_NAME] [varchar](100) NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
	[CONTACT] [int] NULL,
	[EMAIL] [varchar](200) NULL,
	[SPECIALIZATION] [varchar](200) NULL,
	[DOCTOR_IMAGE] [varchar](100) NULL,
	[DOCUMENT] [varchar](100) NULL,
	[WORK_HOSPITAL] [varchar](100) NULL,
	[GENDER] [varchar](10) NULL,
	[PASSWORD] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[DOCTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_HOSPITAL]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_HOSPITAL](
	[HOSPITAL_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL DEFAULT (getdate()),
	[HOSPITAL_NAME] [varchar](100) NOT NULL,
	[HOSPITAL_ADDRESS] [varchar](200) NOT NULL,
	[CONTACT] [int] NULL,
	[EMAIL] [varchar](200) NULL,
	[SPECIALIZATION] [varchar](200) NULL,
	[HOSPITAL_IMAGE] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USER]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[DateAdded] [datetime] NULL DEFAULT (getdate()),
	[NAME] [varchar](200) NOT NULL,
	[ADDRESS] [varchar](200) NOT NULL,
	[PASSWORD] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](200) NOT NULL,
	[GENDER] [varchar](2) NOT NULL,
	[DOB] [date] NOT NULL,
	[CONTACT] [varchar](20) NULL,
	[IMAGE] [varchar](200) NULL,
	[ROLE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBL_USER_HEALTH_RECORD]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBL_USER_HEALTH_RECORD](
	[RECORD_ID] [int] IDENTITY(1,1) NOT NULL,
	[USER_ID] [int] NOT NULL,
	[DateAdded] [datetime] NULL,
	[PREVIOUS_DISEASE] [varchar](200) NULL,
	[DOCTOR_ID] [int] NULL,
	[DATE_OF_CHECKUP] [varchar](200) NULL,
	[IMAGE] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TBL_USER_HEALTH_RECORD] ADD  DEFAULT (getdate()) FOR [DateAdded]
GO
/****** Object:  StoredProcedure [dbo].[P_SET_USER]    Script Date: 8/29/2018 12:19:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[P_SET_USER] (
@P_NAME NVARCHAR(20)
,@P_ADDRESS NVARCHAR(200)
,@P_PASSWORD NVARCHAR(200)
,@P_EMAIL NVARCHAR(200)
,@P_GENDER NVARCHAR(2)
,@P_DOB DATE
,@P_CONTACT NVARCHAR(20)
,@P_IMAGE NVARCHAR(100) = "NOIMAGE.JPG"
,@V_OUT INT = 0 OUTPUT
) 
AS
BEGIN TRANSACTION
SET NOCOUNT ON;

BEGIN TRY  
IF EXISTS (
			SELECT 1
			FROM [DBO].[TBL_USER]
			WHERE [EMAIL] = @P_EMAIL
			)
	BEGIN
		SET @V_OUT = 2;
	END
	ELSE
 
		BEGIN
			INSERT INTO [dbo].[TBL_USER]
           ( [NAME]
           ,[ADDRESS]
           ,[PASSWORD]
		   ,[EMAIL]
		   ,[GENDER]
		   ,[DOB]
		   ,[CONTACT]
		   ,[IMAGE] )
           
     VALUES
           (@P_NAME
		   ,@P_ADDRESS
		   ,@P_PASSWORD
		   ,@P_EMAIL
		   ,@P_GENDER
		   ,@P_DOB
		   ,@P_CONTACT
		   ,@P_IMAGE
		   )
		BEGIN 
			IF @@ROWCOUNT >0 
			BEGIN
				SET @V_OUT = 1;
			END
		END
	END

	COMMIT TRANSACTION
END TRY

BEGIN CATCH
	SET @V_OUT = 3;
	ROLLBACK TRANSACTION
END CATCH


GO
USE [master]
GO
